<div *ngIf="errorMessage" class="row">
  <div class="alert alert-danger">Error: {{errorMessage}}</div>
</div>
<div class="row flex-center">
  <div *ngIf="isValidLogin" class="sm-12 col border border-primary">
    <p>
      You are logged in.
    </p>
  </div>
  <div class="sm-10 md-8 lg-6 col">
    <table>
      <thead>
        <tr>
          <th>Value</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of values">
          <td>{{value.name}}</td>
          <td>{{value.ownerName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!isValidLogin" class="sm-12 col border border-2">
    <p>
      You are not logged in.
    </p>
  </div>
</div>

